/*
#section1 {
	padding-top:50px;
	height:500px;
	
}

#section2 {
	padding-top:50px;
	height:500px;
	
}

#section3 {
	padding-top:50px;
	height:500px;
	
}

#section4 {
	padding-top:50px;
	height:500px;
}

#logo{
	width:100px; 
	height:100px;
}

.navbar-brand{
	padding:0px;
}

.navbar-brand>img{
	height: 200%;
	padding:13px;
	margin-top: -3px;
	width: auto;

}
*/
/*
html{ 
	background: url(../Images/background_select.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

/*
.navbar{
	min-height: 100px;
	padding-top: 0;
}


.navbar-nav>li>a{
    
    padding-top: 40px;
    font-size: 200%;
}

.navbar-inner {
    min-height: 100px;
}

.navbar .divider-vertical{
	border-left: 1px solid #666;
	border-right: 1px solid #666:;

}

.navbar-toggle{
	padding: 30px 20px;
	margin-bottom: 8px;
	margin-right: 12px;
	margin-top: 10px;
	border: 3px solid transparent;
	border-radius: 21px;

}
*/


#section1 {
	padding-top:50px;
	background: transparent;
	background-color: transparent;
	height:500px;
	/*color: #fff; 
	background-color: #1E88E5;
	background-color: #7FFF00;*/
}

#section2 {
	padding-top:50px;
	height:500px;
	/*color: #fff; 
	background-color: #673ab7;*/
}

#section3 {
	padding-top:50px;
	height:600px;
	/*color: #fff; 
	background-color: #ff9800;*/
}

#section4 {
	padding-top:50px;
	/*height:500px;*/
	/*color: #fff; 
	background-color: #00bcd4;*/
}

#logo{
	width:100px; 
	height:100px;
}

.navbar-brand{
	padding:0px;
	height: 65px;
	margin-top:-6px;

}

.navbar-brand>img{
	height: 120%;
	padding:13px;
	margin-top: -3px;
	width: auto;
}

/*
html{ 
	background: url(../Images/background_select.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

.navbar-toggle{
	padding: 13px 10px;
}

.navbar-nav{
	padding-top: 0.5%;
	font-size: 18px;
}

.body{
	font-size: 18px;
	
}

.navbar {
   
   background: rgba(0,0,0,0.7);
   border-color: transparent;
}

#wrapper{
	background: transparent;
	padding-top: 5%;
}

#header{
	/*padding: 50px;*/
}

html, body{height:100%;}

body {
	background: url(../Images/background_select.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-color: #464646;
	
}

img {
    width: 100%;
    height: auto;
}

h1, h3, h4, h5, h6 {
	color: white;
    text-align: center;
}

h2{
	color: white;
	text-align: center;
}

#socialnetwork{
	padding-left: 10%;
}