.background_page{
	background-image: url(ORION_BATT.png);
	display: block;
	width: 100%;
	position: center top;
	
}

.body{
	background-image: url(ORION BATT.png);
	display: block;
	width: 100%;
	position: center top;
}

